{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Center Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/comlogin.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    </head>
    <body>

        <!--  header body  -->
        {% include "header.html" %}
        <!--  header close  -->
          
        <!--Login body-->
    <section class="about main"> 
        <main class="d-flex align-items-center mb-5 ">
            <div class="container">
                <div class="row "style="">
                    <div class="col-md-6 offset-md-3 "style="margin-top:7%;height:40%">
                        <div class="card mt-3">
                            <div class="card-header text-white text-center" style="background-color:#99db9fdd;">
                                <p style="font-weight:bold;font-size:30px;color:#ffffff">Center Login<p>
                            </div>

                            <div class="card-body ">
                                <form name="form" method="post">
                                    {% csrf_token %}
                                     {% include "msg.html" %}
                                    <div class="form-group pt-3 pb-4 mt-2">
                                        <input type="text" name="username" class="form-control" id="username" placeholder="Username"required>

                                    </div>

                                    <div class="form-group pt-3 pb-4 mt-2">
                                      <input type="password" name="password" class="form-control" id="password" placeholder="Password"required>
                                    </div>

                                    <div class="row mt-3 pb-4">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                     <button class="btn btn-primary" type="submit" style="color:white;background-color:#65db9f;font-weight:bold;">Sign in</button></a>
                                                </div>
                                             
                                                 
                                            </div>
                                        </div>
                                        <div class="col">
                                            <a style="color:red;margin-top:5px;"><p>Forgot Password?</p>
                                            📞Contact your organizations
                                        </div>
                                      </div>
                                </form>
                              </div>

                        </div>
                    </div>

                </div>
            </div>
        </main>
        <!--Login close-->
        
        <center><a href="#">-----------
          </a> </center> 
    </section> 
        <!-- Footer body   -->
        {%include "footer.html" %}
        <!-- Footer close  -->
    </body>
</html>