{% load static %}
{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBT</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body >
    <p1 class="fix"> asus 1</p1> 
    <p1 class="check">hello hiamnshu singh your website is running </p1>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1> 
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><b></b>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1>
    <p1 class="check">hello hiamnshu singh your website is running </p1>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1> 
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><b></b>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1>
    <p1 class="check">hello hiamnshu singh your website is running </p1>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1> 
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><b></b>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1>
    <p1 class="check">hello hiamnshu singh your website is running </p1>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1> 
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><b></b>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1>
    <p1 class="check">hello hiamnshu singh your website is running </p1>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1> 
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><b></b>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1>
    <p1 class="check">hello hiamnshu singh your website is running </p1>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1> 
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><b></b>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1><br>
    <p1 class="tiku"> hey himanshu your website is going ot live </p1>
</body>
</html>
{% include "footer.html" %}
