{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Request Demo</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/comlogin.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <!-- Add Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <!-- Add Bootstrap JS and jQuery (make sure jQuery is included before Bootstrap JS) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>

        <!--  header body  -->
        {% include "header.html" %}
        <!--  header close  -->
          
        <!--Demo body-->
        <section class="about main">                
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#99db9fdd;">
                            <h5 class="modal-title" id="exampleModalLabel">Request a Demo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your name"required>
            
                                </div>
            
                                <div class="form-group ">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email Address"required>
            
                                </div>
            
                                <div class="form-group">
                                    <input type="number" name="phone" class="form-control" id="phone" placeholder="Phone Number"required>
            
                                </div>
            
                                <div class="form-group">
                                    <input type="text" name="organizations" class="form-control" id="organizations" placeholder="Organization name"required>
            
                                </div>
            
                                <div class="form-group">
                                <textarea name="message" class="form-control" rows="4" id="message" placeholder="Write your message"required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" >Reset</button>
                            <button type="submit" class="btn btn-outline-success">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Demo close-->

    </section>
    <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>

        <!-- Vendor JS Files -->
        <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'assets/js/main.js' %}"></script>
        <!-- Footer body   -->
        {%include "footer.html" %}
        <!-- Footer close  -->
    </body>
</html> 

<!-- Add Bootstrap JS and jQuery (make sure jQuery is included before Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login</button>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#99db9fdd;">
                <h5 class="modal-title" id="exampleModalLabel">Request a Demo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your name"required>

                    </div>

                    <div class="form-group ">
                        <input type="email" name="email" class="form-control" id="email" placeholder="Email Address"required>

                    </div>

                    <div class="form-group">
                        <input type="number" name="phone" class="form-control" id="phone" placeholder="Phone Number"required>

                    </div>

                    <div class="form-group">
                        <input type="text" name="organizations" class="form-control" id="organizations" placeholder="Organization name"required>

                    </div>

                    <div class="form-group">
                      <textarea name="message" class="form-control" rows="4" id="message" placeholder="Write your message"required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" >Reset</button>
                <button type="submit" class="btn btn-outline-success">Login</button>
            </div>
        </div>
    </div>
</div>
