djangoenv/
.venv/
__pycache__/
*.pyc
db.sqlite3
media/
staticfiles/
*.log
*.pot
*.pyc
*.pyo
*.swp        
venv/
ENV/
env/
*.egg-info/
dist/
build/
*.egg
*.log
*.pot
*.pyc
*.pyo                          