 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
 <body>
    <h1>this is for exam paging using ajax technology</h1>
    <div id="question-container">
        <p id="question-text">Loading question...</p>
        <ul>
            <li><input type="radio" id="option1" name="answer"><label for="option1"></label></li>
            <li><input type="radio" id="option2" name="answer"><label for="option2"></label></li>
            <li><input type="radio" id="option3" name="answer"><label for="option3"></label></li>
            <li><input type="radio" id="option4" name="answer"><label for="option4"></label></li>
        </ul>
        <button id="prev-button">Previous</button>
        <button id="next-button">Next</button>
    </div>
    <script src="{% static 'js/c.js' %}"></script>
 </body>
 </html>