{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBT</title>
    <link rel="stylesheet" href="{% static 'css/run.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />   
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'css/stylearea.default.css' %}"/> -->
     
</head>
<body>
    <!-- menu barr -->
    <header>
        <ul class="header-menu">
            <li>Exam name: TCS NQT</li>
            <div id="timer">1h 0m 0s</div>
            <li>Candidate Name: Himanshu Singh</li>
            
        </ul>
    </header>
   
    <!-- menu barr ended -->
<script src="script.js"></script> 
    
    
  
    <!-- timer code for starting the exam -->

    <script>
        var endTime = new Date("{{ end_time }}");
        function updateTimer() {
            var currentTime = new Date();
            var timeLeft = endTime - currentTime;

            if (timeLeft <= 0) {
                document.getElementById("timer").textContent = "Time's up!";
                clearInterval(timerInterval);
            } else {
                var hours = Math.floor(timeLeft / 3600000);
                var minutes = Math.floor((timeLeft % 3600000) / 60000);
                var seconds = Math.floor((timeLeft % 60000) / 1000);

                document.getElementById("timer").textContent = "Time left: " + hours + "h " + minutes + "m " + seconds + "s";
            }
        }
        updateTimer();  // Call once to display the initial time
        var timerInterval = setInterval(updateTimer, 1000);  // Update the timer every second
    </script>
    <!-- timer code ended -->


 <!-- showing question desing -->
    <div class="col-md-4" id="pallette" style="left:10px;top:80px; position: fixed;">
        <div class="panel panel-body panel-default mb0 mt10" style="border-radius: 0cqmax;">
            <div class="table-responsive">
                <table class="table table-borderless mb0">
                    <thead>
                        <tr>
                            
                            <td class="full-width">  <img src="{% static 'img/Logo3.png' %}" alt=""> </td>
                            <td>Answered</td>
                            <td class="full-width">  <img src="{% static 'img/Logo2.png' %}" alt=""> </td>
                            <td>Not Answered</td>
                        </tr>
                        <tr>
                            <td class="full-width">  <img src="{% static 'img/Logo1.png' %}" alt=" not visited"></td>
                            <td>Not Visited</td> 
                            <td class="full-width">  <img src="{% static 'img/Logo4.png' %}" alt="">  </td>
                            <td>Marked for Review</td>
                        </tr>
                        <tr>
                            <td>  <img src="{% static 'img/Logo5.png' %}" alt=""></td>
                            <td colspan="3">Answered &amp; Marked for Review (will be considered for evaluation)</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>   
    </div>

    <!-- endedd question showing -->

    <!-- showing question boxex start -->
 <div id="content" style="position: fixed; right: 350px; bottom: 20px;">
<div id="content">
    <div class="container">
        <div class="row exam-paper">
              <div class="col-md-4" id="pallette">    
                     <div class="panel panel-default ">
                             <div class="panel-body " style="height:300px;overflow-y:scroll;">
                                   <ul class="pagination test-questions">
                        <li class="active" data-seq="1"><a class="test-ques que-not-answered " href="javascript:void(0);" data-href="page01">01</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page02">02</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page03">03</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page04">04</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page05">05</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page06">06</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page07">07</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page08">08</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page09">09</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page10">10</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page11">11</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page12">12</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page13">13</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page14">14</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page15">15</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page16">16</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page17">17</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page18">18</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page19">19</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page20">20</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page21">21</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page22">22</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page23">23</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page24">24</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page25">25</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page26">26</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page27">27</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page28">28</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page29">29</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page30">30</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page31">31</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page32">32</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page33">33</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page34">34</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page35">35</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page36">36</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page37">37</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page38">38</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page39">39</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page40">40</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page41">41</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page42">42</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page43">43</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page44">44</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page45">45</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page46">46</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page47">47</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page48">48</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page49">49</a></li>
                        <li class="" data-seq="1"><a class="test-ques que-not-attempted " href="javascript:void(0);" data-href="page50">50</a></li>
                       

            </ul>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
 <!-- showing question boxes -->
     
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125433287-1"></script>
<div class="container" id="question-container">
</div> 

<script>
    const questions = [
        {
            question: "What is your favorite color?",
            options: ["Option 1", "Option 2", "Option 3"]
        },
        {
            question: "What is your favorite animal?",
            options: ["Dog", "Cat", "Bird"]
        },
        {
            question: "What is your favorite food?",
            options: ["Pizza", "Burger", "Sushi"]
        },
        {
            question: "What is your favorite movie genre?",
            options: ["Action", "Comedy", "Drama"]
        },
        {
            question: "What is your favorite season?",
            options: ["Spring", "Summer", "Fall", "Winter"]
        }
    ];

    let currentQuestionIndex = 0;
    const questionContainer = document.getElementById("question-container");

    function displayQuestion(index) {
        const question = questions[index];
        if (question) {
            questionContainer.innerHTML = `
                <div class="question">
                    <p>Question ${index + 1}: ${question.question}</p>
                </div>
                <div class="options">
                    ${question.options.map((option, optionIndex) => `
                        <label><input type="radio" name="question${index}" value="option${optionIndex}"> ${option}</label>
                    `).join('')}
                </div>
                <div class="button-container">
                    <button class="button" onclick="markForReview()">Mark for Review</button>
                    <button class="button" onclick="clearResponse()">Clear Response</button>
                    <button class="button" onclick="previousQuestion()">Previous</button>
                    <button class="button" onclick="saveAndNext()">Save and Next</button>
                </div>
            `;
        }
    }

    function markForReview() {
        // Implement your code for marking the current question for review here.
    }

    function clearResponse() {
        // Implement your code for clearing the response to the current question here.
    }

    function previousQuestion() {
        if (currentQuestionIndex > 0) {
            currentQuestionIndex--;
            displayQuestion(currentQuestionIndex);
        }
    }

    function saveAndNext() {
        // Implement your code to save the response for the current question here.
        if (currentQuestionIndex < questions.length - 1) {
            currentQuestionIndex++;
            displayQuestion(currentQuestionIndex);
        }
    }

    // Initialize the first question.
    displayQuestion(currentQuestionIndex);
</script>
</body>
</html>
