{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBT</title>
    <style>
     .show{
       background-color: black;
       color: whitesmoke;
       text-align: center;
       font-size: xx-large;
     }
     body{
          background-color:  gray
           
     }
    </style>
</head>
<body>
    <div class="show"><p1> your exam has finished ! stay tuned .</p1>
        <h4>meet you again bye bye!!</h4>
        <center><h1> Congratulation ! you will succeed soon .</h1></center> </div>
         
     
</body>
</html>