
body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    /* background-color: #f5deb3;
     */
     background-color: red;
    margin: 0;
    padding: 0;
  }

  .container1 {
    max-width: 999px;
    /* margin: 30px auto; */
    margin: 10px;
    background-color: #fff;
    border: dotted;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 600px;
  }

  .header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .question-container {
    display: flex;
    flex-direction: row;
  }

  .question-list {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
  }

  .question-list ul {
    list-style-type: none;
    padding: 0;
  }

   

  .question {
    flex: 3;
    padding: 20px;
  }

  .question-number {
    font-weight: bold;
  }

  .answers {
    flex: 4;
    padding: 20px;
  }

  .answer-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
  }

  .answered {
    background-color: #4CAF50;
    color: #fff;
  }

  .not-answered {
    background-color: #FF5722;
    color: #fff;
  }

  /* .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  } */
  
  .button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 60%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    margin: 60px;

  }
  .button-container button:hover {
    background-color: #0056b3; /* Button color on hover */
  }
  .button-container button {
    padding: 10px 20px;
    background-color: #007BFF; /* Button color */
    color: #fff; /* Text color */
    border: list-style-type;
    cursor: pointer;
  }
   
   