.bg-primary{
    background-color: #18d26e!important;
}

.bg-yellow{
    background-color: #f1ed0cb4;
}

.bg-white{
    background-color: white;
}

.bg-red{
    background-color: #ff0000;
}
  
.color-primary{
    color: #18d26e!important;
}

.font-primary{
    font-size: 18px;
}

.font-white{
    color:white;
}

.bold{
    font-weight: bold;
}
.center{
    text-align: center;
    align-items: center;
}