{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add exam</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <!-- Google fonts - Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <!-- Choices CSS-->
        <link rel="stylesheet" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}">
        <!-- Custom Scrollbar-->
        <link rel="stylesheet" href="{% static 'vendor/overlayscrollbars/css/OverlayScrollbars.min.css' %}">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="{% static 'static/css/main.css' %}">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <!-- Tweaks for older IEs--><!--[if lt IE 9]-->
        <script src="{% static 'https://oss.maxc' %}dn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="{% static 'https://oss.maxc' %}dn.com/respond/1.4.2/respond.min.js"></script>
        <!-- font awesoms -->
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
    </head>
    <body>
        <!-- header file -->      
        {% include 'com_header.html' %}
        <!-- header close -->

        <!-- main content -->
        <div class="page" style="background-color: #ddd2d287;">
            <section style="margin-top:10%;">
                <div class="container">
                    <div class="row "style="margin-top:5%; ">
                        <div class="col-md-6 offset-md-3 ">
                            <div class="card mt-3">
    
                                <div class="card-header text-white text-center" style="background-color:#99db9fdd;">
                                    <p style="font-weight:bold;font-size:30px;color:#ffffff">Register Here<p>
                                </div>
    
                                <div class="card-body ">
                                    <form name="form" method="post" onsubmit="return validate();">
                                        {% csrf_token %}
    
                                        <div class="form-group pt-3">
                                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter User Name"required>
    
                                        </div>
    
                                        <div class="form-group pt-3">
                                            <input type="text" name="firstname" class="form-control" id="firstname"placeholder="Enter First Name"required>
                                        </div>
    
                                        <div class="form-group pt-3">
                                            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Enter Last Name"required>
                                        </div>
    
                                        <div class="form-group pt-3">
                                            <input type="text" id="organizations" class="form-control" name="organizations"placeholder="Organization Name"required>
                                        </div>
    
                                        <div class="form-group pt-3">
                                            <input type="number" name="phone" class="form-control" id="phone" placeholder="Phone number"required>
                                        </div>
    
                                        <div class="form-group pt-3">
                                          <input type="email" name="email" class="form-control" id="email" placeholder="Email address"required>
                                        </div>
    
                                        <div class="form-group pt-3">
                                          <input type="password" name="password" class="form-control" id="password" placeholder="Password"required>
                                        </div>
                                        <div class="password_required" style="font-family:sans-serif;color:red;">
                                            <div class="mt-2">Must Contains:</div>
                                            <ul style="margin-top: 5px; padding-left: 20px">
                                                <li>Minimum 8 chars</li>
                                                <li>Uppercase</li>
                                                <li>Lower Case</li>
                                                <li>Special Character(@,#,$ etc)</li>
                                                <li>Numeric Value</li>
                                                <li>Letter</li>
                                            </ul>
                                        </div>
    
                                        <div class="form-group pt-1">
                                            <input type="text" name="cpassword" class="form-control" id="cpassword" placeholder="Confirm Password"required>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="btn btn-primary" type="submit" style="color:white;background-color:#65db9f;font-weight:bold;">Sign up</button>
                                                    </div>
                                                    <div class="col">
                                                        <button class="btn btn-primary" type="reset" style="color:white;background-color:#65db9f;font-weight:bold;">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                    </form>
                                            <div class="col">
                                              <form action="{% url 'comlogin' %}">
                                                  <span style="color:red">Already a user? &nbsp;</span>
                                                  <button class="btn btn-primary"style="color:white;background-color:#65db9f;font-weight:bold;">Sign In</button>
                                              </form>
                                            </div>
                                        </div>
                                  </div>
    
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>
        </div>
        <!--main close -->

        <!-- JavaScript files-->
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
        <script src="{% static 'vendor/just-validate/js/just-validate.min.js' %}"></script>
        <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js'" %}></script>
        <script src="{% static 'vendor/overlayscrollbars/js/OverlayScrollbars.min.js' %}"></script>
        <script src="{% static 'js/charts-home.js' %}"></script>
        <!-- Main File-->
        <script src="{% static 'js/front.js'%}"></script>
        <script>
            function injectSvgSprite(path) {
            
                var ajax = new XMLHttpRequest();
                ajax.open("GET", path, true);
                ajax.send();
                ajax.onload = function(e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
                }
            }
            injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
        </script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     
    </body>
</html> 
                