<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CBT</title>
    <style>
        .Login
        {
            background-color: palevioletred;
        }
        .l{
            font-size: xx-large;
        }
    </style>
</head>
<body>
    <form action="" method="">
        <h1> Login page </h1>
    <div class="Login">
        <label for="username">Username :</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="password">Password</label>
        <input type="text" name="password" id="password"> <br><br>
        <input type="submit"  value="Login">  <br><br>
        <a href="{% url 'companyzone' %}" class="l">Create an account</a>
    </div>
    </form>
</body>
</html>